.avaliacao_container {
    width: 800px;
    margin: 0 auto;
    padding: 3em;
  }
  
  .avaliacao_container h1 {
    margin-bottom: 0.5em;
  }
  
  .avaliacao_container p {
    color: #7b7b7b;
  }

  .error_message {
    text-align: center;
    margin-top: 15px;
    padding: 8px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }

 /*  ------ input ----------- */
  .form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .form_control p {
    margin-bottom: 0.6em;
  }
  
  .form_control label {
    margin-bottom: 0.6em;
    margin-top: 0.6em;
    font-weight: bold;
  }
  
  .form_control input {
    padding: 0.7em;
    border-radius: 0;
    border: none;
  }

  .form_control select {
    padding: 0.7em;
    border-radius: 0;
    border: none;
  }
  
  .form_control input::placeholder {
    color: #7b7b7b;
  }
  
  .error {
    color: red;
  }