.h1{
    position: relative;
    text-align: left;
    /* color: white; */
    width: 100%;
}

.explicacao{
    text-align: left;
    margin-top: 50px;
    margin-left: 30px;
}

.explicacao h2{
    margin-top: 50px;
}

.background_image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    margin: 20px;
    font-family: Arial, sans-serif;
}
  
.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.pendingItem {
    background-color: #fff3cd;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ffeeba;
    border-radius: 4px;
}

.completedItem {
    background-color: #d4edda;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
}