.avaliacao_container {
    width: 800px;
    margin: 0 auto;
    padding: 3em;
}

.avaliacao_container1 {
    
    max-width: 1300px;
    margin: 0 auto;
    padding: 1em;
}
  
.avaliacao_container h1 {
    margin-bottom: 0.5em;
}
  
.avaliacao_container p {
    color: #7b7b7b;
}

.tableContainer {
    width: 100%;
    overflow-x: auto; /* Habilita a rolagem horizontal se necessário */
    margin: 20px auto; /* Centraliza o contêiner na página */
    -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos iOS */
}

.evaluationTable {
    width: auto; /* Permite que a tabela expanda conforme necessário */
    margin-bottom: 20px; /* Espaçamento abaixo da tabela */
    border-collapse: collapse; /* Removes the space between the borders */
  }

  .evaluationTable th,
  .evaluationTable td {
    text-align: center; /* Center-align text */
    padding: 10px; /* Add padding inside each cell */
    border: 1px solid #ccc; /* Optional: add a border to each cell */
  }
  
  .evaluationTable thead th {
    background-color: #f0f0f0; /* Optional: add a background color to the header */
    font-weight: bold; /* Make header text bold */
  }
  
  .evaluationTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Optional: add zebra stripes to table */
  }
  
  .evaluationTable tbody tr td[colspan="8"] {
    font-weight: bold; /* Make section titles bold */
    background-color: #e8e8e8; /* Optional: differentiate section titles with a background color */
  }

  .selectservidor{
    padding: 9px;
    margin-right: 10px;
    border-radius: 5px;
  }

  .selectservidor2{
    padding: 9px;
    margin-right: 10px;
    border-radius: 5px;
    min-width: 350px;
    text-align: center;
  }

  .botaoservidor{
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  