.footer {
  background-color: #334a91;
  color: #fff;
  padding: 1em;
  width: 100vw;
  box-sizing: border-box;
  position: relative; /* Faz com que o rodapé siga o fluxo normal do documento */
  z-index: 1000;
  left: 50%;
  min-width: 1107px;
  transform: translateX(-50%); /* This will help to center the footer if 100vw causes scrolling */
}
  
  .social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    align-items: center;
  }
  
  .social_list li {
    margin: 0 1em;
    flex: 1 1 auto;
  }
  
  .social_list li:hover {
    color: #ffbb33;
  }
  
  .social_list svg {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .copy_right {
    margin-top: 2em;
  }
  
  .copy_right span {
    font-weight: bold;
    color: #ffbb33;
  }